/* General Page Styling */
.login-page {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #f7f9fc;
  font-family: 'Arial', sans-serif;
}

.login-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 80%;
  max-width: 1100px;
  background-color: #fff;
  padding: 40px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.login-form-container {
  width: 50%;
}

.login-title {
  font-size: 24px;
  font-weight: bold;
  color: #333;
  margin-bottom: 20px;
}

.login-subtitle {
  font-size: 14px;
  color: #777;
  margin-bottom: 30px;
}

.input-group {
  margin-bottom: 20px;
}

.input-group label {
  font-size: 14px;
  color: #555;
}

.input-group input {
  width: 100%;
  padding: 12px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 5px;
  margin-top: 8px;
}

.input-group input:focus {
  border-color: #007bff;
  outline: none;
}

/* Password Input Styling */
.password-input-container {
  display: flex;
  align-items: center;
  position: relative;
}

.password-toggle-btn {
  background: none;
  border: none;
  color: #007bff;
  cursor: pointer;
  position: absolute;
  right: 12px;
  font-size: 20px; /* Adjust icon size */
  top: 50%; /* Vertically center the icon */
  transform: translateY(-50%); /* Perfectly center the icon vertically */
}

.password-toggle-btn:hover {
  color: #0056b3;
}

.password-group input {
  padding-right: 40px; /* Space for the icon */
  font-size: 16px;
}

/* Messages */
.error-message {
  color: red;
  font-size: 14px;
  margin-bottom: 15px;
}

.login-btn {
  width: 100%;
  padding: 12px;
  background-color: #28a745;
  border: none;
  color: white;
  font-size: 16px;
  font-weight: bold;
  border-radius: 5px;
  cursor: pointer;
}

.login-btn:hover {
  background-color: #218838;
}
.no-account {
    text-align: center;
    margin-top: 20px;
  }
  
  .register-link {
    color: #1e87ea; 
    font-size: 1rem;
    font-weight: bold;
    cursor: pointer;
    text-decoration: underline;
  }
  
  .register-link:hover {
    color: #1e87ea; 
  }
  

/* Car Image */
.car-image-container {
  width: 40%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.car-image {
  width: 90%;
  max-height: 300px;
  object-fit: cover;
  border-radius: 10px;
}

/* Responsive Design */
@media screen and (max-width: 768px) {
  .login-container {
    flex-direction: column;
    padding: 20px;
  }

  .login-form-container {
    width: 100%;
    margin-bottom: 20px;
  }

  .car-image-container {
    width: 100%;
    margin-top: 20px;
  }
}
